doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
  
  div Wine Authenticator
  div Track every drop back to its origins
  
  
    block content